    /*LEGG DENNE INN I EGEN STYLE.CSS FIL */
 html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
 }
 
    /*Denne er til navbar */
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(43, 40, 40);
    /* fjerner bullet points i lista */
 }
 li {
    display: inline-flex;
    /*setter nav-baren på samme linje */
 }
 li a{
    text-decoration: none;
 }
 li a:hover{
    background-color: black;
    /*endrer bakgrunnsfargen på li a ved hover */
 }
 
 ul li a{
 display: block;
 color: white;
 text-align: center;
 padding: 8px 10px;
 }
 
 /* Banner tidligere version før felles ble valgt.
 .banner{
    background-color: aqua;
    width: 100%;
    height: 20vh;
    }
 .bannerText {
    text-align: center;
    padding: 2px;
    font-size: 25px;
 }
*/

 /* Innhold */
 .innhold {
   display: grid;
   align-items: center;
   width: auto;
   height: 70vh;
   grid-template-columns: repeat(14, 1fr); /* 14 kolonner */
   grid-template-rows: repeat(6, 100px); /* 6 rader */
   background-color: #fff1e6;
   padding: 0px;
   grid-auto-flow: dense;
}
.innholdTittel {
 grid-column-start: 2;
 grid-column-end: 5;
 grid-row-start: 2;
 grid-row-end: 2;
 background-color: #fff1e6; 
 color: #96AABF;
 
}
.innholdTekst {
 grid-column-start: 2;
 grid-column-end: 6;
 grid-row-start: 3;
 grid-row-end: 4;
 background-color: #fff1e6; 
 color: #96AABF;
}
.innholdBilde {
 grid-column-start: 9;
 grid-column-end: 13;
 grid-row-start: 2;
 grid-row-end: 5;
}

/*Bilde */
.img {
 width:100%;
 height: 100%;
 float:left; 
  margin:0;
}


/*Filter for bilder styles for eksperimentering for hvilken filter passer best*/
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }