h1 {
    display: flex;
    justify-content: center;
}
body {
    background-color: lightgrey;
    font-family: monospace;
}
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    width: 50%;
  }
  
  li {
    float: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
