.slider_border {
    border: solid;
    border-style: solid;
    border-color: grey;
    margin: auto;
    width: 709px
}
.myForm{
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
.align_left {
    float:left;
}
.align_right {
    float: right;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    background: black; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 5px}

.submitButton {
    color: white;
    margin: auto;
    display: flex;
    padding: 0;
    background-color: grey;
}
.input1{
    text-align: center;
    margin: auto;
    display: block;
}
